<%- include('./partials/header') %>
<%- include('./partials/navbarLogged', {user}) %>

    <div class="container">
        <div class="row">
            <div class="col-2 border-end border-start border-secondary" style="min-height: 100vmax;height: auto;">
            </div>
            <div class="col-8 border-end border-secondary" style="min-height: 100vmax;height: auto;">
                <div class="d-flex flex-column align-items-center gap-4 my-5 px-5">
                    <form action="/home/<%= user.Profile.username %>" method="post" class="container border border-secondary py-3 rounded" enctype="multipart/form-data">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="content">
                            <label for="floatingInput">Your thoughts...</label>
                          </div>
                          <div class="form-control mb-3">
                            <input type="file" class="form-control" name="imageUrl" >
                          </div>
                          <div class="container d-flex justify-content-between">
                            <div class="d-flex gap-2">
                                <% tags.forEach(e => { %>
                                    <input type="checkbox" class="btn-check" id="<%= e.name %>"autocomplete="off" name="TagId" value="<%= e.id %>">
                                    <label class="btn btn-outline-secondary" for="<%= e.name %>"><%= e.name %></label>
                                <% }) %>
                            </div>
                            <button class="btn btn-outline-primary ">Send</button>
                          </div>
                    </form>
                </div >
                <div class="d-flex flex-column align-items-center gap-4 my-5 p-5">
                <% posts.forEach(e => { %>
                    <div class="card col-12">

                        <div class="card-body">
                          <h5 class="card-title fw-bold fs-3 mb-5"><%= e.User.Profile.fullName ? e.User.Profile.fullName : e.User.Profile.username %></h5>
                          <p class="card-text my-5"><%= e.content %></p>
                          <p class="card-text text-end"><small class="text-body-secondary">posted on <u><%= e.formattedDate %></u></small></p>
                        </div>
                        <img src="<%= e.imageUrl %>" class="card-img-bottom" alt="error">
                    </div>
                <% }) %>
            </div>
            </div>
            <div class="col-2 border-end border-secondary" style="min-height: 100vmax;height: auto;">
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>


  