<%- include('./partials/header') %>
<%- include('./partials/navbarLogged', {user}) %>

<div class="container">
    <div class="row">
        <div class="col-2 border-end border-start border-secondary" style="min-height: 100vmax;height: auto;">
        </div>
        <div class="col-8 border-end border-secondary" style="min-height: 100vmax;height: auto;">
            <div class="d-flex flex-column align-items-center gap-4 my-5 px-5">
                <div>
                    <img src="" alt="">
                </div>
                <form action="/home/<%= user.Profile.username %>/profile" method="post" class="container border border-secondary py-3 rounded">
                    <div class="mb-3">
                        <label class="form-label">username</label>
                        <input type="text" class="form-control" value="<%= user.Profile.username%>">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">fullName</label>
                        <input type="text" class="form-control" value="<%= user.Profile.fullName%>">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">phone</label>
                        <input type="text" class="form-control" value="<%= user.Profile.phone%>">
                      </div>
                      <div class="form-control mb-3 d-flex">
                        <Label>Profile Picture</Label>
                        <input type="file" class="form-control" name="ImageUrl" >
                      </div>
                      <button type="submit" class="btn btn-outline-primary">Save</button>
                </form>
            </div >
        </div>
        <div class="col-2 border-end border-secondary" style="min-height: 100vmax;height: auto;">
        </div>
    </div>
</div>



<%- include('./partials/footer') %>